<div class="banner">
    <div class="logo">
        <img src="img/logoFace.png" alt="Logotipo FaceBluff">
    </div>
    <div class="menu">
        <% if(typeof (usuario) != 'undefined'){ %>
            <span class="menuOpt"><a href="/perfil">Perfil</a></span>
            <span class="menuOpt"><a href="/amigos">Amigos</a></span>
            <span class="menuOpt"><a href="/preguntas">Preguntas</a></span>
            <span class="menuOpt"><a href="/desconectar">Desconectar</a></span>
            <span class="menuOpt userBox">
                <img src="<%= usuario.img %>" alt="foto de perfil de <%- usuario.userName %>">
                
                <%- usuario.points %>
            </span>
        <% }else { %>
            <span class="menuOpt"><a href="/login">Entrar</a></span>
            <span class="menuOpt"><a href="/register">Nuevo Usuario</a></span>

        <% } %>

        <% if(typeof(locals.config.error) != 'undefined' && locals.config.error!=null){ %>
            <div class="caja_errores"> 
                <h2>Error</h2>
                <%= locals.config.error %>
            </div>
        <% } %>
    </div>
</div>
