<head>
    <link rel="stylesheet" href="/css/screen.css" media="screen">
    <link rel="stylesheet" href="/css/print.css" media="print">
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
    <link rel="shortcut icon" href="img/iconoPestana.png">

    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <title>
        <%= config.pageName %>
    </title>
</head>
