<body>
    <div class="banner">
        <div class="title">
            <p class=hide-text>Lista de tareas</p><img src="img/logoTareas.png" alt="Logotipo tareas">
        </div>
        <div class="user">
            <div class="foto"><img src="img/usuario.jpg" alt="Imagen del usuario"></div>
            <div class="datos">
                <div>
                    <p class=mail>usuario@gmail.com</p>
                    <a class="desconectar" href="#desconectar">Desconectar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <%- include("../partials/tareas") %>
        <div class="añadir">
                <%- include("../partials/add") %>
        </div>
        <div class="eliminarCompletadas"><a href="#eliminar">Eliminar completadas</a></div>
    </div>
    </div>
</body>