<div class="content">
    <ul class="tareas">
        <li class="tarea">
            <span class="tarea2">
                Preparar práctica AW
                <span class="tag">AW</span>
                <span class="tag">práctica</span>
            </span>
            <span class="fin">Marcar Finalizar</span>
        </li>
        <li class="tarea terminada">
            <span class="tarea2">
                Mirar fechas congreso
                <span class="tag">congreso</span>
            </span>
            <span class="fin">Marcar Finalizar</span>
        </li>
        <li class="tarea">
            <span class="tarea2">
                Ir al supermercado
                <span class="tag">personal</span>
            </span>
            <span class="fin">Marcar Finalizar</span>
        </li>

        <li class="tarea">
            <span class="tarea2">
                Mudanza
                <span class="tag">personal</span>
            </span>
            <span class="fin">Marcar Finalizar</span>
        </li>
    </ul>