<div class="content">
    <ul class="tareas">
        <% taskList.forEach((tarea)=>{ %>
            <li class="tarea">
                <span class="tarea2">
                    <%= tarea.text %>
                    <% tarea.tags.forEach((tag)=>{ %>
                        <span class="tag"> <%= tag %> </span>
                    <% }); %>
                    
                </span>
                <span class="fin">Marcar Finalizar</span>
            </li>
        <%});%>
    </ul>
</div>