<html>
 <%- include("../partials/header") %>

<body>
    <h1><marquee>Parguela</marquee></h1>
    <h2>Error 404</h2>
    <p>La dirección <code>
            <%= config.url %></code> no existe</p>
</body>

</html>