*{
    padding: 0;
    margin: 0;
}

.contenedor{
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px 200px 200px;
    border: solid #9a8b51 10px;
    margin: 10px;
    width: 800px;
}
.A{
    background: url("p_beige.png")
}
.B{
    background: url("p_amarillo.png")
}
.C{
    background: url("p_verde.png")
}
.postit{
    background-size:cover;
    font-family: 'Reenie Beanie', cursive;
    font-size: 20px;
    padding: 20%;
    text-align: center;
}