<div class="content">
    <!-- REPASAR LO DE LOS ERRORES FUCSIA -->
    <div class="loginPannel content">
        
        <form class= login action="/login" method="POST">
            User:<input class=campo type="text" name="user"><br>
            
            Pass:<input class=campo type="password" name="password"><br>
            
            <input class=button  id="log" type="submit" name="login" value="Login">
        </form>
    </div>
    
</div>