<div class="content">
        <div class="loginPannel content">
          
            <form class="registro" action="/register" method="POST">
                <div>Email: <input class="write" type="email" name="user"> </div>
                <div>Contraseña: <input class="write pass" type="password" name="password"> </div>
                <div>Nombre usuario: <input class="write name" type="text" name="userName"></div>
                Sexo
                <input class="write gender" type="radio" name="gender" value="male" checked> Male
                <input type="radio" name="gender" value="female"> Female
                <input type="radio" name="gender" value="other"> Other<br>
                Fecha de nacimiento <input class="write date" type="date" name="birth" max="2000-12-31"><br>
                Imagen de perfil<input class="write picture" type="file" name="img"><br>
                <input type="submit" name="login">
            </form>
        </div>
</div>
