<div class="content">
    <h2>Solicitudes de amistad</h2>
    <%- include("../partials/elements/listaSolicitudes") %>
    <h2>Búsqueda de amigos</h2>
    <form action="/buscaAmigo" method="POST">
            <input type="text" class="caja" name="busqueda">
            <input type="submit" class="boton" name="Buscar">
        </form>
    <h2>Mis amigos</h2>
    <%- include("../partials/elements/listaAmistades") %>
</div>