<%- include("../partials/elements/flash"); %>
<div class="content">
        <div class="loginPannel content">
            <form action="/login" method="POST">
                User:<input type="text" name="user"><br>
                <% if (errores.user) { %>
                    <span class="rojo">
                        <%= errores.login.msg %> </span>
                    <% } %>
                Pass:<input type="password" name="password"><br>
                <% if (errores.password) { %>
                    <span class="rojo">
                        <%= errores.pass.msg %> </span>
                    <% } %>
                <input type="submit" name="login" value="Login">
            </form>
        </div>
        <% if(config.error!=null) %>
        <span class="error">
            <%- config.error %></span>
    </div>