<div class="content">
    <h2><%.pregunta.texto%></h2>
    <form action="/nuevaPregunta" method="POST">
        <input type="text" name="op1" placeholder="Respuesta 1">
        <input type="text" name="op2" placeholder="Respuesta 2">
        <input type="text" name="op3" placeholder="Respuesta 3">
        <input type="text" name="op4" placeholder="Respuesta 4">
        <input type="submit" value="submit"/>
    </form>
 </div>