 <div class="content">
     <h2>Preguntas aleatorias</h2>
     <!--Selección aleatoria de preguntas-->
     <h2>Añade una pregunta</h2>
     <form action="/preguntar" method="POST">
        <input type="text" name="userName"/>
    </form>
 </div>