<div class="content">
   <h2><%.pregunta.texto%></h2>
   <% if(respuesta!=null){ //Dejar explicitamente como null si no ha respondido %>
      <a href="/respuesta/<%-pregunta.id%>">No has contestado a esta pregunta</a>
   <% }else{ %>
      Tu respuesta es <%- respuesta.texto %>
   <$}%>
   <!--Aquí va la parte de adivinar respuestas-->
</div>