<div class="content">
   <h2 class = preguntaindiv><%- pregunta.texto %></h2>
      <% if(respuestaUsuario==null){ %>
         <a href="/respuesta/<%-pregunta.id%>">No has contestado a esta pregunta</a>
      <%}else{%>
         Has contestado <%-respuestaUsuario%>
      <%}%>
</div>