<div class="content">
        <div class="loginPannel content">
            <form action="/register" method="POST">
                Email <input type="email" name="user"><br>
                Contraseña <input type="password" name="password"><br>
                Nombre completo <input type="text" name="userName"><br>
                Sexo
                Fecha de nacimiento
                Imagen de perfil
                <input type="submit" name="login">
            </form>
        </div>
        <% if(config.error!=null) %>
        <span class="error">
            <%- config.error %></span>
    </div>