
*{
    font-family:"Comic Sans MS", cursive, sans-serif;
    background: black;
    color: white;

    border:solid;
    border-color:yellow;
    border-width: 2px;
}

div.header{
    background-image: url(cesped.png);
    position: fixed;
    width: 100%;
    color:white;
    font-size: 50px;
    text-align: center;
    top: 0px;
    left: 0px;
    right: 0px;
    /*tipografia*/ 
}

div.nav{
    color: black;
    float: top;
    position: fixed;
    top: 65px;
}

div.izquierda{

}
.first{
    margin-top: 100px;
}

h2{
    color:green;
}
p{
    color:white;
}
/*
    Preguntale a victor como hacer este span
*/
span.list{
    color:yellow;
}
span.nav{
    color:black;
    background: linear-gradient(green, yellow, green);
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}