<div class="banner">
    <div class="logo">
        <img src="img/logoFace.jpg" alt="Logotipo FaceBluff">
    </div>
    <div class="menu">
        <% if(typeof (persona) != 'undefined'){ //Miramos si estamos logueados %>
            <span class="menuOpt"><a href="/perfil">Perfil</a></span>
            <span class="menuOpt"><a href="/amigos">Amigos</a></span>
            <span class="menuOpt"><a href="/preguntas">Preguntas</a></span>
            <span class="menuOpt"><a href="/desconectar">Desconectar</a></span>
            <span class="menuOpt userBox">
                <img src="/imagen/<%=persona.email%>" alt="foto de perfil de <%- persona.user %>">
                <%- persona.puntos %>
            </span>
        <% }else { %>
            <span class="menuOpt"><a href="/login">Entrar</a></span>
            <span class="menuOpt"><a href="/register">Nuevo Usuario</a></span>

        <% } %>
    </div>
</div>