<div class="content">
    <div class="amigos solicitudes">
        <% sesion.busqueda.forEach((amigo)=>{%>
            <span>
                <img src="/imagen/<%=amigo.email%>" alt="foto de perfil de <%- amigo.userName %>">
                <%- amigo.userName %>
                <a href="/aceptar/:<%amigo.email%>">Aceptar</a>
            </span><br>
        <%});%>
    </div>
</div>