<div class="amigos solicitudes">
    <% amigos.forEach((amigo)=>{%>
        <span>
            <img src="/imagen/:amigo.email" height="50" alt="foto de perfil de <%- amigo.userName %>">
            <a href="/perfil/<%=amigo.email%>"><%- amigo.userName %></a>
        </span><br>
    <%});%>
</div>