<!DOCTYPE html>
<html lang="es">
<meta charset="utf-8"/>
	<%- include("../partials/elements/header"); %>
	<body>
			<%- include("../partials/elements/banner") %>
			
			<%- include("../partials/" +config.pageName ) %>
	</body>
</html>