<div class="banner">
    <div class="logo">
        <img src="img/logoFace.png" alt="Logotipo FaceBluff">
    </div>
    <div class="menu">
        <% if(sesion.login){ //Miramos si estamos logueados %>
            <span class="menuOpt"><a href="/perfil">Perfil</a></span>
            <span class="menuOpt"><a href="/amigos">Amigos</a></span>
            <span class="menuOpt"><a href="/preguntas">Preguntas</a></span>
            <span class="menuOpt"><a href="/desconectar">Desconectar</a></span>
            <span class="userBox">Foto <%- sesion.puntos %></span>
        <% }else { %>
            <span class="menuOpt"><a href="/entrar">Entrar</a></span>
            <span class="menuOpt"><a href="/nuevoUser">Nuevo Usuario</a></span>

        <% } %>
    </div>
</div>