<div class="banner">
    <div class="logo">
        <img src="img/logoFace.png" alt="Logotipo FaceBluff">
    </div>
    <div class="menu">
        <% if(sesion.user){ //Miramos si estamos logueados %>
            <span class="menuOpt"><a href="/perfil">Perfil</a></span>
            <span class="menuOpt"><a href="/amigos">Amigos</a></span>
            <span class="menuOpt"><a href="/preguntas">Preguntas</a></span>
            <span class="menuOpt"><a href="/desconectar">Desconectar</a></span>
            <span class="menuOpt userBox">
                <img src="../img/usuario.jpg" alt="foto de perfil de <%- sesion.user %>">
                <%- sesion.puntos %>
            </span>
        <% }else { %>
            <span class="menuOpt"><a href="/login">Entrar</a></span>
            <span class="menuOpt"><a href="/register">Nuevo Usuario</a></span>

        <% } %>
    </div>
</div>