*{
	margin:0;
	padding: 0;
	background-color: inherit;
	font-family: 'PT Sans', sans-serif;


	border: dashed 1px fuchsia;
}

body{
	background: url("fondoPagina.jpg");
}
a{
	color:inherit;
    text-decoration: none;
}
.a:hover{
	cursor:crosshair;
}


.banner{
	position:fixed;
	height: 150px;
	width:100%;
	display: flex;
	background-color: lightgrey;
	justify-content: space-between;
}


.title{
	background-color: purple;
}
.hide-text{
	text-indent: 100%;
 	white-space: nowrap;
	overflow: hidden;
 	width: 0;
 	height: 0;
}
.title>img{
	height: 140px;
}
.user{
	display: flex;
}
.foto{
	flex-grow: 0;
	width:140px;
	height:140px;
}
div.foto>img{
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
	height: 90%;
}
.datos{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 11px;
}
.mail{
	font-family: monospace;
	text-align: center;
}
.desconectar{
	text-align: center;
	font-family: bold;
	color: inherit;
}
.content{
	margin-top: 150px;
	margin-bottom: 0px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.content>div, .content>ul{
    list-style-type: none;
	margin: auto;
	margin-top: 20px;
	width: 70%;
	min-height: 40px;
	padding: 10px;
	background: darkgrey;


}
.añadir{
	display:flex;
	justify-content: space-between;

}
.caja{
	background:white;
	width:79%;
}
.boton{
	background: grey;
	color:white;
	padding: 5px;
	margin-top: 5px;
	margin-bottom:5px;
}
.eliminarCompletadas{
	border:	solid 1px white;
	padding: 15px;
	color: white;
}
.tarea{
	margin: 6px;
}