*{
    margin:0;
    padding: 0;
    /*Borde de detección
    border: dashed 1px fuchsia;*/
}
div.app{
    display:flex;
    margin: 5%;
    /*Contactos a la derecha
    flex-direction: row-reverse;*/
}
div.contactos{
    display: flex;
    background: lightgrey;
    flex-grow: 1;
    flex-direction: column;
    /* Contactos al revés
    flex-direction: column-reverse;*/
}
div.contact{
    display: flex;
    border: solid 1px darkgrey;

}
img.fCont{
    border-radius: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 100px;
    height: 100px;
}
div.textoCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}
div.texto{
    background-image: url('bla.png');
    flex-grow: 3;
}