<!DOCTYPE html>
<html>

<head>
    <title>Lista de usuarios</title>
    <meta charset="utf-8">
</head>

<body>
    <h1>¡Bienvenido!</h1>
    <li>
        <form action="borrarUsuario" method="POST">
            <input type="hidden" name="index" value=${index}>
            <input type="submit" value="Borrar">
        </form>
        <form action="sumando2" method="POST">
            <input type="number" name="op1">
            <input type="submit" value="op2">
        </form>
    </li>
</body>

</html>