*{
    font-family:"Times new roman", cursive, sans-serif;
    background: black;
    color: white;
    padding:0;
  }
  /**{
    border: solid 2px;
    border-color: white;
  }*/
  
  h1{
    display: block;
    margin-left: 450px;
    background: url(header2.jpg) no-repeat top left;
    height: 250px;
    width: 600px;
    text-indent: -5000px;
    
  }
  
  div.nav{
    display: block;
    margin-left: 30%;
    margin-right: 30%;
  }
  div.panel{
    float:left;
    width:30%;
    padding: 1px;
  }
  .first{
    margin-top: 140px;
  }
  
  .cookies {
    bottom:0px;
    text-align: left;
    background: green;
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
  }
  h2{
    color:green;
  }
  p{
    background-color: transparent;
    margin-left: 60px;
    text-align: left;
  }
  a{
    text-align: left;
    background-color: transparent;
    margin-left: 30px;
  }
  span.list{
    color:yellow;
  }
  span.headder{
    display: block;
    background: white;
    color:black;
    font-size: 25px;
    padding-left: 50px;
    float: left;
    font-style: url(PWStixs.ttf);

  }
  span.headder:hover{
    color:darkred;
  }
  span.headder:active{
    border: dotted;
  }
  table{
    width: 75%;
    margin-left: 250px;
    clear:both;
  }
  td, th{
    border: 2px dotted yellow;
    text-align: center;
  }
