body{
    font-family:"Comic Sans MS", cursive, sans-serif;
    background: white;
    color: black;
    text-align: justify;
}
/*
*{
	border:dotted 1px fuchsia;
}*/
.space-invader{

  box-shadow:
    0 0 0 1em red,
    0 1em 0 1em red,
    -2.5em 1.5em 0 .5em red,
    2.5em 1.5em 0 .5em red,
    -3em -3em 0 0 red,
    3em -3em 0 0 red,
    -2em -2em 0 0 red,
    2em -2em 0 0 red,
    -3em -1em 0 0 red,
    -2em -1em 0 0 red,
    2em -1em 0 0 red,
    3em -1em 0 0 red,
    -4em 0 0 0 red,
    -3em 0 0 0 red,
    3em 0 0 0 red,
    4em 0 0 0 red,
    -5em 1em 0 0 red,
    -4em 1em 0 0 red,
    4em 1em 0 0 red,
    5em 1em 0 0 red,
    -5em 2em 0 0 red,
    5em 2em 0 0 red,
    -5em 3em 0 0 red,
    -3em 3em 0 0 red,
    3em 3em 0 0 red,
    5em 3em 0 0 red,
    -2em 4em 0 0 red,
    -1em 4em 0 0 red,
    1em 4em 0 0 red,
    2em 4em 0 0 red;

    background: red;
    width: 1em;
    height: 1em;
    overflow: hidden;

    margin: 50px 0 70px 65px;
  }
h1{/*
    position: fixed;
    width: 100%;*/
    font-size: 50px;
    text-align: center;/*
    top: 0px;
    left: 0px;
    right: 0px; */
}
h2{
	margin-left: 40px;
	margin-right: 20px;
}
h3{
	margin:5px;
}

div.nav{/*
    color: black;
    float: top;
    position: fixed;
    top: 85px;*/
    display: none;
}

div.panel{
    width:90%;
    padding-right: : 30px;
	position: absolute;
	right: 0;
	bottom: -160%;
	left: 0;
    display: inline;
}
.block{
	display: inline-block;
	margin: 10px;
	width:20%;
}
div > p{
    text-decoration: underline;
    padding: 0px;
}
div > img{
    display: inline;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
}
.first{
    margin-top: 10px;
}
.last{
    margin-bottom: 80px;
}
.cookies {
    position: fixed;
    bottom:0px;
    text-align: left;
    background: green;
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
    display: none;
}
p{
    background-color: transparent;
    margin-left: 60px;
    margin-right: 30px;
}
a{
    text-align: left;
    background-color: transparent;
    margin-left: 30px;
}
span.list{
    font-size: 22px;
    text-decoration: underline;
}
li{
	margin-left:60px;
	margin-right: 30px;
}
span.headder{
    color:black;
    background: linear-gradient(green, yellow, green);
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}
/*
span.headder:hover{
    background: linear-gradient(yellow, green, yellow); 
}*/
tr,th,td{
    border:1px solid black;
    border-spacing: 2px;
    text-align: center;
    vertical-align: center;
}
table{
    width:90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}