*{
	margin:0;
	padding: 0;
	background-color: inherit;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}
*{
    border: dashed red 1px;
}

.body{
	background: url("Img/fondoPagina.jpg");
}

/*Banner*/
.banner{
	position:fixed;
	top:0;
	height: 150px;
	width:100%;
	display: flex;
	background-color: fuchsia;
    justify-content: center;
    flex-direction: column
}
.logo{

}
.menu{
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.option{

}


/*Body*/

/*Everything*/
a{
	color:inherit;
    text-decoration: none;
}
.a:hover{
	cursor:crosshair;
}